/* Resetting some styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body and overall layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}
/* Header and navigation */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
/* Section styling */
section {
    padding: 2rem 0;
}

    section h2 {
        margin-bottom: 1rem;
    }
/* Projects */
.project-card {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .project-card:hover {
        background-color: #e7e7e7;
    }
#pixel_art_img{
    max-width: 60%;
    max-height: 20%;
    width: auto;
    height: auto;
}
/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

    form input, form textarea {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    form button {
        background-color: #333;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        form button:hover {
            background-color: #555;
        }
/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: unset;
    width: 100%;
    bottom: 0;
}
/* Global */
ul {
    list-style-type: none;
}